<!DOCTYPE html>
{% extends "base.html" %}
{% load cms_tags static %}

{% block post_header %}

    {% placeholder "post_header" %}

{% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">

                {% placeholder "post_content" %}

                <!-- ad -->
                {% placeholder "ad_banner_728x90" %}
                <!-- ad -->

                <!-- author -->
                {% placeholder "post_author" %}
                <!-- /author -->

                <!-- comments -->
                {% placeholder "post_comment" %}
                <!-- /comments -->
            </div>
            <!-- /Post content -->

            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                {% placeholder "ad_banner_350x200" %}
                <!-- /ad -->

                <!-- post widget -->
                {% placeholder "side_featured_Post" %}
                <!-- /post widget -->

                <!-- catagories and tags -->
                {% placeholder "side_blog_category" %}
				<!-- / category and tags -->

                <!-- archive -->
                {% placeholder "post_archive" %}
                <!-- /archive -->
            </div>
            <!-- /aside -->
        </div>
    </div>
    </div>

{% endblock %}