
{% load i18n thumbnail static %}

<div class="aside-widget">
    <div class="section-title">
        <h2>Featured Post</h2>
    </div>

    {% for blog in blogs %}
        <div class="post post-widget">
            <a class="post-img" href="{{ blog.title }}"><img src="{{ blog.small_image.url }}" alt=""></a>
            <div class="post-body">
                <h3 class="post-title"><a href="{{ blog.title }}">{{ blog.description }}</a></h3>
            </div>
        </div>
    {% endfor %}

</div>