
{% load i18n thumbnail static %}

<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h2>Most Read</h2>
            </div>
        </div>

        <!-- posts -->
        {% for blog in blogs %}
            <div class="col-md-12">
                <div class="post post-row">
                    <a class="post-img" href="{{ blog.title }}"><img src="{{ blog.image.url }}" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="category.html">{{ blog.tech }}</a>
                            <span class="post-date">{{ blog.modified }}</span>
                        </div>
                        <h3 class="post-title"><a href="{{ blog.title }}">{{ blog.description }}</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /posts -->

        <div class="col-md-12">
            <div class="section-row">
                <button class="primary-button center-block">Load More</button>
            </div>
        </div>
    </div>
</div>