
{% load i18n thumbnail static %}

<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Recent Posts</h2>
        </div>
    </div>

    <!-- posts -->
    {% for blog in blogs %}
        <div class="col-md-4">
            <div class="post">
                <a class="post-img" href="{{ blog.title }}"><img src="{{ blog.image.url }}" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="category.html">{{ blog.tech }}</a>
                        <span class="post-date">{{ blog.modiefied }}</span>
                    </div>
                    <h3 class="post-title"><a href="{{ blog.title }}">{{ blog.description }}</a></h3>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- /posts -->


</div>