
{% load i18n static thumbnail comments%}


{% get_comment_list for blog as comment_list %}

<div class="section-row">
    <div class="section-title">
        {% get_comment_count for blog as comment_count %}
        <h2>{{ comment_count }} Comments</h2>
    </div>
        {% for comment in comment_list %}
        <!-- comment -->
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="{% static 'img/avatar.png' %}" alt="">
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <h4>{{ comment.user|default:"Anonymous User" }}</h4>
                    <span class="time">{{ comment.submit_date }}m</span>
                    <a href="#" class="reply">Reply</a>
                </div>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        <!-- /comment -->
        {% endfor %}
</div>

<div class="section-row">
    <div class="section-title">
        <h2>Leave a reply</h2>
        <p>your email address will not be published. required fields are marked *</p>
    </div>
    {% get_comment_form for blog as form %}
    <form class="post-reply" action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="core.blog" id="id_content_type">
        <input type="hidden" name="object_pk" value="{{ blog.id }}" id="id_object_pk">
        {{ form.timestamp }}
        {{ form.security_hash }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Name *</span>
                    <input class="input" type="text" name="name" id="id_name" maxlength="50" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Email *</span>
                    <input class="input" type="email" name="email" id="id_email" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span>Website</span>
                    <input class="input" type="url" name="url" id="id_url">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="input" name="comment" maxlength="3000" id="id_comment" required></textarea>
                </div>
                <input class="primary-button" type="submit" name="submit" value="Post">
            </div>
        </div>
    </form>
</div>